<aside class="app-sidebar">
  <div class="sidebar-brand">
    <div class="brand-logo rounded-4 shadow-sm bg-light d-flex align-items-center justify-content-center overflow-hidden">
      <img
        src="/assets/LogoCampomesa.jpeg"
        alt="CampoMesa Logo"
        class="img-fluid"
      />
    </div>

    <div>
      <h2>CampoMesa</h2>
      <p>Admin Panel</p>
    </div>
  </div>

  <nav class="sidebar-menu">
    @for (item of menuItems; track item.label) {
      <a
        class="menu-item"
        [routerLink]="item.route"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <i [class]="item.icon"></i>
        <span>{{ item.label }}</span>
      </a>
    }
  </nav>

</aside>
